.Footer{
  background: linear-gradient(262deg, rgba(0, 111, 237, 0.12) 18.01%, rgba(178, 214, 255, 0.12) 90.03%);
  backdrop-filter: blur(250px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5rem;
  gap: 20px;
  overflow: hidden;
}

.os1{
  display: flex;
  flex-direction: column;
}

.s1{
  color: #333;
font-family: Open Sans;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem;
  width:22rem;
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 1rem;
}
.s1 img{
  margin-left: -10px;
  height:65px;
}
.s2{
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 0.5rem;
}

.s2 h4{
  color: #000C1A;
text-align: center;
font-family: Montserrat;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: 1.6875rem;
margin: 20px 0 -5px 0;
letter-spacing: 0.01875rem;
}

.s2 p{
  color: #333;
  width: 12.25rem;
font-family: Open Sans;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem;
}

.s3{
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 1.5rem;
}

.s3 h4{
  color: #000C1A;
font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: 2rem; 
margin-top:20px;
}

.s3 p{
  color: #333;
font-family: Open Sans;
font-size: 01rem;
font-style: normal;
font-weight: 400;
width: 10rem;
margin: -10px;
margin-left:0px
}

.os2{
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 2rem;
}

.os2 h4{
  color: #000C1A;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem; 
}

.os2 li{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 1rem;
list-style: none;
margin-bottom: 0.6rem;
}

.os3{
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 1.5rem;
}

.os3 h4{
  color: #000C1A;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: 3rem;
}

.os3 .s1{
  display: flex;
width: 17.5rem;
flex-direction:row;
align-items: flex-start;
align-content: flex-start;
gap: 1rem;
flex-wrap: wrap;
}

.os3 i{
  width: 3rem;
height: 3rem;
flex-shrink: 0;
font-size: 26px;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
}
.endofproject{
  max-width: 500px;
  margin: 30px auto;
  color: #000C1A;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  
  /* border: 1px solid red; */
}
@media screen and (max-width:425px) {
  .endofproject{
    font-size: 13px;
    text-align: center;
    font-weight: 700;
  }
  .Footer{
    padding: 3rem;
  } 
  
.os3 i{
  width: 2rem;
height: 2rem;
font-size: 18px;
}
}